siema czemu nie moge scrolowaci * {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --main-color: #00eeff94;
    --main-colorback: #00fff728;
    --back-graundcolor: #1b2122d9;
    --tex-color: #c0acac;
    --tlo: #040c0ef7;
    --grad: linear-gradient(to bottom, var(--main-color) 10%, var(--main-colorback) 66%, var(--tlo) 100%);
}

::selection {
    background: var(--main-color); 
    color: var(--tex-color);        
  }

body {
    font-family: "Chakra Petch", sans-serif;
    background-color: var(--tlo);
}

html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-y: auto;
}

a,
btn {
    transition: all 300ms ease;
}

a {
    color: var(--tex-color);
    text-decoration: none;
    text-decoration-color: var(--main-color);
}

a:hover {
    color: var(--main-color);
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: var(--main-color);
    text-shadow:
        0 0 80px var(--main-color),
        0 0 5px var(--main-color),
        0 0 10px var(--main-color),
        0 0 20px var(--main-color),
        0 0 40px var(--main-color);
}

.glow {
    color: var(--main-color);
    text-shadow:
        0 0 80px var(--main-color),
        0 0 5px var(--main-color),
        0 0 10px var(--main-color),
        0 0 20px var(--main-color),
        0 0 40px var(--main-color);
}

nav,
.link_nav {
    display: flex;
}

nav {
    justify-content: space-between;
    height: 75px;
    background: var(--back-graundcolor);
    color: var(--tex-color);
    width: 60%;
    margin: auto;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px var(--tex-color);
}

.logo {
    background-color: var(--main-colorback);
    padding: 10px;
    border-radius: 15px;
    font-size: 1.2rem;
    margin: 30px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 7px var(--main-color);
}

.logo:hover {
    cursor: default;
}

.link_nav {
    list-style: none;
    gap: 20px;
    font-size: 1.2rem;
    margin: 20px;
    transform: translateX(-20px);
}

.phon-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
    transform: translateX(-80px);
}

.phon-icon span {
    width: 100%;
    height: 2px;
    transition: all 0.3s ease-in-out;
    background-color: var(--tex-color);
}

.phon-icon:hover span,
.phon-icon.open span,
.phon-icon span:hover {
    background-color: var(--main-color);
    box-shadow:
        0 0 80px var(--main-color),
        0 0 5px var(--main-color),
        0 0 10px var(--main-color),
        0 0 20px var(--main-color),
        0 0 40px var(--main-color);
}

.phon-icon.open span:nth-child(1) {
    transform: rotate(45deg) translate(10px, 5px);
    width: 40px;
    transition: transform 0.4s ease, opacity 0.4s ease, width 0.4s ease;
}

.phon-icon.open span:nth-child(2) {
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease, width 0.4s ease;
}

.phon-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
    width: 40px;
    transition: transform 0.4s ease, opacity 0.4s ease, width 0.4s ease;
}

.phon-menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

#MP {
    display: none;
}

.menu-links {
    position: absolute;
    top: 76px;
    background: var(--back-graundcolor);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    max-height: 0;
    transform: translateX(-145px);
    width: 120px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 99%;
    margin-bottom: 20px;
}

.menu-links.open {
    max-height: 800px;
    box-shadow: 0 -1px 3px 0 var(--main-color);
   
  
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: var(--tex-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
 
}

.menu-links li {
    list-style: none;
}

.box-icon,
.box-icon_MP {
    list-style: none;
    display: flex;
}

.box-icon {
    transform: translateX(-20px);
}

.box-icon_MP {
    transform: translateX(30px);
}

.box-icon a,
.box-icon_MP a {
    background-color: var(--main-colorback);
    padding: 5px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(1px);
    box-shadow: 0 0 7px var(--main-color);
    text-decoration: none;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.Zdjecie {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-image: url('zdjecie3.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    margin: auto;
    top: 110px;

}

.Zdjecie::after,
.Zdjecie::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), transparent 80%, var(--main-color));
    border-radius: 100%;
    padding: 3px;
    z-index: -99;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    animation: spin 7s linear infinite;
    animation-delay: 1.75s;
}

.Zdjecie::before {
    filter: blur(1.5rem);
}

@keyframes spin {
    0% {
        --angle: 0deg;
    }
    100% {
        --angle: 360deg;
    }
}

.tex_Omnie {
    color: var(--tex-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    top: -210px;
    font-size: 1.5rem;
    transform: translateX(3px);
    z-index: -1;
}

.scroll,
.box-scroll {
    color: var(--tex-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    font-size: 15px;
    z-index: -1;
}

.scroll {
    top: 80px;
    transform: translateX(-3.4px);
}

.box-scroll {
    top: 90px;
    font-size: 30px;
    transform: translateX(0.6px);
}



.I-TEX{
    align-items: center;
    position: relative;
    margin: auto;
font-size: 360PX;
z-index: -1;
color: var(--tex-color);
top: 50px;
border-radius: 100%;
transform: translateX(1px);
}


html, body {
    height: 100%;
    overflow-y: auto;
}


.title{
    font-size: 60px;
    color: var(--tex-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    transform: translateX(0.6px);
}


.menu-links a :hover{
    color: var(--main-color);

    box-shadow:
    0 0 80px var(--main-color),
    0 0 5px var(--main-color),
    0 0 10px var(--main-color),
    0 0 20px var(--main-color),
    0 0 40px var(--main-color);

}


.cv-container{
    height: 800PX;
    width: 60%;
    margin: auto;
    display: flex;
    position: relative;
    border-radius: 30px;
    border: 2px solid var(--tex-color);
    box-shadow: 0 0 15px var(--tex-color);

}

.Doswiatczenie{
    color: var(--tex-color);
    border: 2px solid var(--main-color);
    height: 150px;
    width: 55%;

}


.Umiejetnosci{
    color: var(--tex-color);
    border: 2px solid var(--main-color);
    height: 220px;
    width: 55%;

}

.Edukacja{
    color: var(--tex-color);
    border: 2px solid var(--tex-color);
    height: 200px;
    width: 55%;
}
li{
    font-size: 1rem;
    margin-left: 20px;
}
p{
    font-size: 0.8rem;
    margin-left: 30px;
}
h1{

    text-align: center;
    
}
.Doswiatczenie{
  
    align-items: center;
    position: relative;
}
.Edukacja{

    align-items: center;
    position: relative;
}
.Umiejetnosci{
    
    align-items: center;
    position: relative;
    
}

.cv-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    padding: 20px;
    gap: 40px; 
    
  }
  
  .Doswiatczenie,
  .Edukacja,
  .Umiejetnosci {
    text-align: left;
    width: 40%;
    margin-top: 30px;
    border-radius: 15px;
    cursor: pointer;
    
  }

  

 .button{
    position: relative;
    top: -400px;
    display: flex;
    margin-right: auto;
    margin-left: 9%;

 }

 .zdjecie_cv {
    width: 200px;
    height: 250px;
    border-radius: 25px; 
    background-image: url('img22.JPG');
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat; 
    margin-left: 27%;
    border: 2px solid var(--main-color); 
    transform:  translateY(-750px);
    box-shadow: 0 0 15px var(--main-color);
}

 

 .miejsce{
    font-size: 15px;
    color: var(--tex-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto;
    transform: translateX(6px);
 }

 .PRACAIN{
    height: 400PX;
    width: 60%;
    margin: auto;
    display: flex;
    position: relative;
    border-radius: 30px;
    border: 2px solid var(--tex-color);
    box-shadow: 0 0 15px var(--tex-color);
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    font-size: 280px;
    pointer-events: none;
    margin-bottom: 30px;

}



.grid-container {

    display: grid;
    grid-auto-rows:  400px;
    border-radius: 30px;
    grid-auto-columns: 25%;
    grid-template-areas: 
        "box-1 box-2 box-3";
    gap: 10px;
    margin: 0 auto;
    width: fit-content;
    transform: translateX(150px);


    
}

.box{
    margin-top: 20px;
    color: var(--tex-color);
    padding: 2px;
    text-align: center;   
    border: 2px solid var(--main-color);
    border-radius: 30px;
    box-shadow:
    0 0 1px var(--main-color),
    0 0 5px var(--main-color),
    0 0 10px var(--main-color),
    0 0 2px var(--main-color);
    height: 310px;
    z-index: 1;
}
.box h1 {
    margin-top: 20px;
    font-size: 1.5rem;
}

.box img {
    width: 80%;
    height: auto; 
    display: block; 
    margin: auto;
    border-radius: 30px;
    margin-top: 15px;
    border: 2px solid var(--tex-color);
    box-shadow:
    0 0 1px var(--tex-color),
    0 0 5px var(--tex-color),
    0 0 10px var(--tex-color),
    0 0 2px var(--tex-color);

}


.kotakt{
    justify-content: space-between;
    height: 75px;
    background: var(--back-graundcolor);
    color: var(--tex-color);
    width: 60%;
    margin: auto;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px var(--tex-color);
    bottom: 100%;
}

.title_inz{
    margin-top: 80px;
    font-size: 60px;
    color: var(--tex-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: translateX(0.6px);

}

.link_kont {
    list-style: none;
    gap: 15%; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
    transform: translateY(10px) translateX(-29px);
}

.link_kont a {
    text-decoration: none; 
    font-size: 1.5rem;
}

.link_kont h2{
    font-size: 0.8rem;
    transform: translateY(-2px)
}

.link2{
    transform: translateY(-10px)
}

.link_kont li:hover a,
.link_kont li:hover h2 {
    color: var(--main-color);
    cursor: pointer;
    text-shadow:
        0 0 5px var(--main-color),
        0 0 10px var(--main-color),
        0 0 20px var(--main-color),
        0 0 40px var(--main-color);
}

.box p{
    font-size: 10px;
    margin-top: 15px;
    transform: translatex(-13px)
}
